
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
<ul>
    <% for(var value in urls) { %>
        <li> <b>Long URL: </b> <%= urls[value] %> <b> Short URL: </b><%= value %>

        <form method="POST" action="/urls/<%= value %>/delete">
        <button type="submit">DELETE URL</button></form>

        <form method="POST" action="/urls/<%= value %>">
        <button type="submit">EDIT URL</button></form> </li>
    <% }; %>
</ul>


</body>
</html>