

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<ul>
    <li><b>Long URL:</b>
     <%= longurl %> </li>
    <li><b>Short URL:</b>
    localhost:8080/u/<%= shorturl %> </li>
    <br>

      <form method="POST" action="/urls/<%= shorturl %>/edit">
      <label for="longURL"><b>Change URL:</b></label>
      <input id="longURL" type="text" name="editURL" style="width: 100px">
      <input type="submit" value="Change URL" name="longURL" >
      </form>

      <form method="GET" action="/urls">
      <input type="submit" value="Back to all URLs" name="longURL" >
      </form>
</ul>
</body>
</html>