<!DOCTYPE html>
<html lang="en">
  <head></head>

      <form action="/login" method="GET" style="margin:20px;">
      <input type="submit" value="Login">
      </form>

      <form action="/register" method="GET" style="margin:20px;">
      <input type="submit" value="Register">
      </form>


  </body>
</html>