
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<ul>
    <% for(var value in urls) { %>
        <li> <%= urls[value] %> <%= value %></li>
    <% }; %>
</ul>

    <img src="https://i.imgflip.com/ovg15.jpg">
</body>
</html>