
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
<ul>
        <li>
    <form method="GET" action="/urls/new">
    <button type="submit">NEW URL</button>
    </form></li>
    <br>
    <% for(var value in urls) { %>
        <li> <b>Long URL: </b> <%= urls[value].longURL %> <br> <b> Short URL: </b>localhost:8080/u/<%= value %>

        <form method="POST" action="/urls/<%= value %>/delete">
        <button type="submit">DELETE URL</button></form>

        <form method="POST" action="/urls/<%= value %>">
        <button type="submit">EDIT URL</button></form> </li>
        <br>
    <% }; %>


</ul>


</body>
</html>